#choropleth_map {
	top: 50px;
	bottom: 50px; 
	left: 300px;
	right: 100px;
	height: 500px;
	width: 800px;
}

#title {
	font-size: 30px;
	color: black;
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

#bar_chart {
	top:50px;
	bottom: 50px; 
	left: 200px;
	right: 100px;
	height: 700px;
	width: 800px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}